apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
    operator-name: clowder
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
      operator-name: clowder
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
        operator-name: clowder
    spec:
      containers:
      - command:
        - /manager
        args:
        - --enable-leader-election
        image: controller:latest
        name: manager
        resources:
          limits:
            cpu: 500m
            memory: 500Mi
          requests:
            cpu: 100m
            memory: 200Mi
        volumeMounts:
          - mountPath: "/config/"
            name: "config"
      volumes:
        - name: "config"
          configMap:
            optional: True
            name: clowder-config
      terminationGracePeriodSeconds: 10
