apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
  annotations:
    ignore-check.kube-linter.io/minimum-three-replicas: "Not applicable"
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      securityContext:
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        capabilities:
          drop: 
          - ALL
        readOnlyRootFilesystem: true
      containers:
      - command:
        - /manager
        args:
        - --leader-elect
        image: controller:latest
        name: manager
        env:
        - name: AWS_CW_KEY
          valueFrom:
            secretKeyRef:
              key: aws_access_key_id
              name: cloudwatch
              optional: true
        - name: AWS_CW_REGION
          valueFrom:
            secretKeyRef:
              key: aws_region
              name: cloudwatch
              optional: true
        - name: AWS_CW_SECRET
          valueFrom:
            secretKeyRef:
              key: aws_secret_access_key
              name: cloudwatch
              optional: true
        - name: AWS_CW_LOG_GROUP
          valueFrom:
            secretKeyRef:
              key: log_group_name
              name: cloudwatch
              optional: true
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
          requests:
            cpu: 100m
            memory: 500Mi
        volumeMounts:
          - mountPath: "/config/"
            name: "config"
        ports:
          - containerPort: 8080
            name: metrics
      volumes:
        - name: "config"
          configMap:
            optional: True
            name: clowder-config
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
