# permissions for end users to edit clowdapps.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: clowdapp-editor-role
rules:
- apiGroups:
  - cloud.redhat.com.cloud.redhat.com
  resources:
  - clowdapps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cloud.redhat.com.cloud.redhat.com
  resources:
  - clowdapps/status
  verbs:
  - get
