# permissions for end users to view clowdenvironments.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: clowdenvironment-viewer-role
  labels:
    rbac.authorization.k8s.io/aggregate-to-view: "true"
rules:
- apiGroups:
  - cloud.redhat.com
  resources:
  - clowdenvironments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cloud.redhat.com
  resources:
  - clowdenvironments/status
  verbs:
  - get
