---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
- script: sleep 5
- script: kubectl get secret --namespace=$NAMESPACE puptoo -o json > /tmp/$NAMESPACE
- script: jq -r '.data["cdappconfig.json"]' < /tmp/$NAMESPACE | base64 -d > /tmp/$NAMESPACE-json

- script: jq -r '.webPort == 8000' -e < /tmp/$NAMESPACE-json
- script: jq -r '.metricsPort == 9000' -e < /tmp/$NAMESPACE-json
- script: jq -r '.metricsPath == "/metrics"' -e < /tmp/$NAMESPACE-json

- script: jq -r '.endpoints[] | select(.app == "puptoo") | select(.name == "processor") | .hostname == "puptoo-processor.test-basic-app.svc"' -e < /tmp/$NAMESPACE-json
- script: jq -r '.endpoints[] | select(.app == "puptoo") | select(.name == "processor2") | .hostname == "puptoo-processor2.test-basic-app.svc"' -e < /tmp/$NAMESPACE-json
- script: jq -r '.endpoints[] | select(.app == "puptoo") | select(.name == "processor") | .port == 8000' -e < /tmp/$NAMESPACE-json
- script: jq -r '.endpoints[] | select(.app == "puptoo") | select(.name == "processor2") | .port == 8000' -e < /tmp/$NAMESPACE-json
- script: jq -r '.endpoints[] | select(.app == "puptoo") | select(.name == "processor") | .apiPath == "/api/puptoo-processor/"' -e < /tmp/$NAMESPACE-json
- script: jq -r '.endpoints[] | select(.app == "puptoo") | select(.name == "processor") | .apiPaths[0] == "/api/puptoo-processor/"' -e < /tmp/$NAMESPACE-json

- script: jq -r '.privateEndpoints[] | select(.app == "puptoo") | select(.name == "processor") | .hostname == "puptoo-processor.test-basic-app.svc"' -e < /tmp/$NAMESPACE-json
- script: jq -r '.privateEndpoints[] | select(.app == "puptoo") | select(.name == "processor2") | .hostname == "puptoo-processor2.test-basic-app.svc"' -e < /tmp/$NAMESPACE-json
- script: jq -r '.privateEndpoints[] | select(.app == "puptoo") | select(.name == "processor") | .port == 10000' -e < /tmp/$NAMESPACE-json
- script: jq -r '.privateEndpoints[] | select(.app == "puptoo") | select(.name == "processor2") | .port == 10000' -e < /tmp/$NAMESPACE-json
